<%- include('partials/header') %>

<section class="section">
  <div class="container content" style="text-align:center; padding: 4rem 0;">
    <h1>404</h1>
    <p>Sorry, we couldn't find that page.</p>
    <a href="/" class="btn">Go Home</a>
  </div>
</section>

<%- include('partials/footer') %>
